$bg:background;
$marg:margin;
$pad:padding;
$top:top;
$left:left;
$right:right;
$pos:position;
$ind:z-index;
$fs:font-size;
$fw:font-weight;
$col:color;
$disp:display;
$trans:transition;
$text:text-align;
$bx:box-shadow;
$bord:border;
$td:text-decoration;
$borderp:border-radius;